@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

@section Featured{
    <div class="hero-init">
        <h2>Bienvenidos a vuelos one</h2>
        <p>La numero uno para vuelos del paìs</p>
    </div>
    }